/* * {
  align-items: center;
} */

.board-container {
  border-collapse: collapse;
  margin: 20px;
}

.board td {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #999;
  font-size: 20px;
}

.cell {
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.cell-marked {
  background-color: #ff0;
}

button {
  margin: 10px;
}
