body{
  text-align: center;
}

.board-container {
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.board td {
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #999;
  font-size: 20px;
  background-color: #615f5f;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;



}



/* .cell-marked {
  background-color: #ff0;
} */

button {
  margin: 10px;
}

.cell {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, sans-serif;

}

.revealed {
  background-color: lightgray;
}

.cell:empty {
  background-color: lightgray;
}
